[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphviz = "*"
pylint = "*"
matplotlib = "*"
pyinstrument = "*"
line-profiler = "*"
Cython = "*"
dd = "*"
networkx = "*"
numpy = "*"

[requires]
python_version = "3.6"
